.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--main-color-bg);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: var(--prevailing-weight-font);
}
