.container {    
    width: 100%; 
    margin: 0 auto;
} 

@media screen and (max-width: 768px){
    .container {
      max-width: 320px;
      padding-left: var(--container-mobile-padding);
      padding-right: var(--container-mobile-padding);
    }
}
@media screen and (min-width: 768px) {
    .container {
     max-width: 768px; 
     padding-left: var(--container-tablet-padding);
     padding-right: 76px;    
    }
}
@media screen and (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding-left: var(--container-desctop-padding);
      padding-right: var(--container-desctop-padding);      
    }
}

