.link {
  text-decoration: none;
  display: block;
}

.address {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.header__main {
  background: #000000;
}

.header__site--nav {
  display: flex;
}

// ============= JPG картинка =============================================
.header__container {
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header-main/Rectangle-mob.jpg);
  min-height: 230px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-main/Rectangle-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-main/Rectangle-tabl.jpg);
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .header__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-main/Rectangle.jpg);
    max-width: 1024px;
  }
}

//=========================================

.header__site--nav {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}
.header__site--nav_link {
  color: #ffffff;
  padding: 3px 0px;
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.header__site-nav_current::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 3px;
  background: #ff6b08;
}

.header-menu {
  padding-top: 58px;
}

.header__site--nav:not(:last-child) {
  margin-right: 39px;
}

// ====================== LOGO======================
.header__navigator--logo {
  display: flex;
  align-items: center;
  position: absolute;
  color: #ffffff;
  top: 46px;
}
.header__navigator--logo:hover {
  fill: #ff6b08;
  color: #ff6b08;
}
.header__logo--name {
  font-size: 30px;
  line-height: 35px;
}
.header__logo--name:hover {
  color: #ff6b08;
}

@media screen and (max-width: 768px) {
  .header__logo--name {
    display: none;
  }
}
.header__logo {
  margin-right: 10px;
}
//==========================================
// =============== FORMA
.header__search-form {
  text-align: center;
  margin-top: 41px;
  position: relative;
}
.input-header:focus {
  outline: none;
  border-bottom: 0.5px solid #ff6b08;
}
.input-header {
  background-color: initial;
  border: transparent;
  border-bottom: 0.5px solid #ffffff;
  width: 100%;
  height: 20px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .input-header {
    width: 336px;
  }
}
.btn-header {
  background-color: initial;
  border: transparent;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .btn-header {
    right: 140px;
  }
}
@media screen and (min-width: 1024px) {
  .btn-header {
    right: 273px;
  }
}
input::placeholder {
  color: white;
}
input:focus {
  color: #ff6b08;
}
//=====================
