body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .footer-modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200 ms ease-in-out;

  @media (min-width: 768px) {
    padding-top: 2px;
  }
}

.footer-modal {
  padding: 24px;
  border-radius: 4px;
  max-width: 640px; //1200px
  max-height: 100%;
  overflow: scroll;
  width: 100%;
  min-height: 320px;
  background-color: var(--main-color-bg);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transition: scale(1.1);
  transition: transform 200ms ease-in-out;

  @media (min-width: 1200px) {
    max-width: 1100;
  }
}

.footer__btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  cursor: pointer;

  width: 30px;
  height: 30px;
  background-color: var(--extract-orange-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--active-color);
  }
}

// .team__container {
//   margin-bottom: 20 px;
//   padding-top: 47px;
//   padding-bottom: 84px;
// }

.container__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--heading-color);

  @media (min-width: 1200px) {
    font-size: 36px;
  }
}

.name-card__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: black;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.name-card__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.name-card {
  padding: 30px 32px;
  text-align: center;
}

.name-card__icons {
  display: flex;
  justify-content: center;

  @media (min-width: 1200px) {
    justify-content: space-between;
  }
}

.name-card__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--heading-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--main-color-bg);
    fill: var(--extract-orange-color);
  }
}
// Слайдер
.slider {
  position: relative;
  padding: 0px 50px;
}
// Ограничивающая оболочка
.slick-list {
  overflow: hidden;
}
// Лента слайдов
.slick-track {
  display: flex;
  align-items: flex-start;
}
// Конкретный слайдер {
.slider {
  position: relative;
  z-index: 10;
  // padding: 0 50px;
}

// Кнопки
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -100px 0px 0px 0px;
  font-size: 0;
  padding: auto;
  border: none;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url('../images/team-modal/arrow-left.svg') 0 0 /100% no-repeat;
  fill: var(--secondary-text-color);
  width: 50px;
  height: 46px;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url('../images/team-modal/arrow-right.svg') 0 0 /100% no-repeat;
  width: 50px;
  height: 46px;
  fill: var(--secondary-text-color);
}
// .slider__item {
//   text-align: center;
// }
