{{!-- {{ {{#each this}} --}}

<li class='film-gallery__item'>

  <img class="film-gallery__img" src=""  alt=""  width="274" /> 

  <div class='film-gallery__desc'>
    <p class='film-gallery__name'>
        {{!-- {{film-name}} --}}
        </p>
    <p class='film-gallery__genre'>
        {{!-- {{#each}} --}}
        {{!-- {{film-genre}} --}}
        {{!-- {{/each}} --}}
    </p>        
    <p class='film-gallery__year'>
        {{!-- {{год выпуска}} --}}
    </p>
  </div>

</li>



{{!-- {{/each}} }} --}}