<header class='header__main'>
  <div class='header__container'>
    <div class='header-menu'>
      <div class='container'>
        <nav class='header__navigator'>
          <a href='#' class='header__navigator--logo link'>
            <svg class='header__logo' width='24' height='24'>
              <path
                stroke-linejoin='round'
                stroke-linecap='round'
                stroke-miterlimit='4'
                stroke-width='2.6667'
                d='M26.444 2.668h-20.867c-1.606 0-2.909 1.302-2.909 2.909v0 20.867c0 1.606 1.302 2.909 2.909 2.909v0h20.867c1.606 0 2.909-1.302 2.909-2.909v0-20.867c0-1.606-1.302-2.909-2.909-2.909v0zM9.339 2.668v26.684M22.681 2.668v26.684M2.668 16.010h26.684M2.668 9.339h6.671M2.668 22.681h6.671M22.681 22.681h6.671M22.681 9.339h6.671'
              ></path>

            </svg>
            <span class='header__logo--name'> Filmoteka</span>
          </a>
          <ul class='header__site--nav list'>
            <li class='header__site--nav item'>
              <a
                href='#'
                class='header__site--nav_link header__site-nav_current link js-homeButton'
              >Home</a>
            </li>

            <li class='header__site--nav item'>
              <a href='#' class='header__site--nav_link link js-authButton'>My library</a>
            </li>
          </ul>
        </nav>
        <form class='header__search-form'>
          <input class='input-header' type='text' placeholder='Поиск фильмов' />
          <button class='header__btn' type='submit'>
            <svg class='icon__search-header' width='12' height='12'>
              <path
                fill='none'
                stroke-linejoin='round'
                stroke-linecap='round'
                stroke-miterlimit='4'
                stroke-width='2.6667'
                d='M14.667 25.333c5.891 0 10.667-4.776 10.667-10.667s-4.776-10.667-10.667-10.667v0c-5.891 0-10.667 4.776-10.667 10.667s4.776 10.667 10.667 10.667v0zM28 28l-5.8-5.8'
              ></path>

            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</header>