<header class='header-library'>
  <div class='container'>
    <nav class='header-library-navigation'>
      <!--Логотип-->
      <a class='header-library-logo link' href='#'>
        <svg class='header__logo' width='24' height='24'>

          <svg id='icon-film' viewBox='0 0 32 32'>
            <path
              stroke-linejoin='round'
              stroke-linecap='round'
              stroke-miterlimit='4'
              stroke-width='2.6667'
              d='M26.444 2.668h-20.867c-1.606 0-2.909 1.302-2.909 2.909v0 20.867c0 1.606 1.302 2.909 2.909 2.909v0h20.867c1.606 0 2.909-1.302 2.909-2.909v0-20.867c0-1.606-1.302-2.909-2.909-2.909v0zM9.339 2.668v26.684M22.681 2.668v26.684M2.668 16.010h26.684M2.668 9.339h6.671M2.668 22.681h6.671M22.681 22.681h6.671M22.681 9.339h6.671'
            >
            </path>
          </svg>
        </svg>
        <span class='header-library-logo__text'>Filmoteka</span></a>

      <!--Главное меню-->
      <ul class='header-library-navigation-list list'>
        <li class='header-library-navigation-list__item'>
          <a href='#' class='header-library-navigation-list__link link js-homeButton' id='home'>Home</a>
        </li>
        <li class='header-library-navigation-list__item'>
          <a href='#' class='header-library-navigation-list__link link current'>my library</a>
        </li>
      </ul>
    </nav>

    <!--Кнопки-->
    <div class='header-btn-container'>
      <button class='header-btn current-btn' type='button'>Watched</button>
      <button class='header-btn' type='button'>queue</button>
    </div>
  </div>
</header>