<header class='header-library'>
  <div class='container'>
    <nav class='header-library-navigation'>
      <!--Логотип-->
      <a class='header-library-logo link' href='#'><span
          class='header-library-logo__text'
        >Filmoteka</span></a>

      <!--Главное меню-->
      <ul class='header-library-navigation-list list'>
        <li class='header-library-navigation-list__item'>
          <a href='#' class='header-library-navigation-list__link link' id='home'>Home</a>
        </li>
        <li class='header-library-navigation-list__item'>
          <a href='#' class='header-library-navigation-list__link link current'>my library</a>
        </li>
      </ul>
    </nav>

    <!--Кнопки-->
    <div class='header-btn-container'>
      <button class='header-btn current-btn' type='button'>Watched</button>
      <button class='header-btn' type='button'>queue</button>
    </div>
  </div>
</header>