:root {
--container-desctop-padding: 71px;
--container-tablet-padding: 76px;
--container-mobile-padding: 20px;

--main-color-bg: #E5E5E5;
--extract-orange-color: #FF6B08;
--buttons-color: #FF6B01;
--heading-color: #000;
--prevailing-weight-font: 500;
--least-weight-font: 400;
--footer-color: #F7F7F7;
--secondary-text-color: #545454;
--notification-color: #FF001B;
}