<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body> -->
    <!-- <section class="film-gallery-section">
      <h2>Hi</h2>
      <div class="container">
        <ul class="film-gallery list"></ul>
      </div>
    </section> -->
  <!-- </body>
</html> -->

<!-- <section class='film-gallery-section'>
  <div class='container'>
    <ul class="film-gallery list">
      <li class='film-gallery__item'>
    
      
        <img class="film-gallery__img" src="../images/image-demo.jpg"  alt=""  width="280" />  
    
        <div class='film-gallery__desc'>
          <p class='film-gallery__name'>Sun
          </p>
      <p class='film-gallery__genre'>Triller |
        <span class='film-gallery__year'>2021
        </span>
      </p>    
        </div>
      
      </li>  
  </div>
</section> -->
