<header class="header__main">
  <div class="header__container">
    <div class="header-menu">
      <div class="container">
        <nav class="header__navigator">
          <a href="" class="header__navigator--logo link">
            <svg class="header__logo" width="24" height="24">
              <use href="./images/sprite.svg#icon-film"></use>
            </svg>
            <span class="header__logo--name"> Filmoteka</span>
          </a>
          <ul class="header__site--nav list">
            <li class="header__site--nav item">
              <a href="#" class="header__site--nav_link header__site-nav_current link">Home</a>
            </li>

            <li class="header__site--nav item">
              <a href="#" class="header__site--nav_link link" id="library">My library</a>
            </li>
          </ul>
        </nav>
        <form class="header__search-form">
          <input class="input-header" type="text" placeholder="Поиск фильмов" />
          <button class="header__btn" type="submit">
            <svg class="icon__search-header" width="12" height="12">
              <use href="./images/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</header>