<header class="header-main">
    <div class="header--container">
        <div class="container-menu">
          <div class="container"
          >
           <nav class="navigator">
             <a href="" class="navigator__logo link"
           >
        <svg class="logo__header" width="24" height="24">
              <use href="./images/sprite.svg#icon-film"></use>
            </svg>
           <span class="logo-name">
           Filmoteka</span>
           </a
          >
            <ul class="site-nav list">
              <li class="site-nav__item">
                <a href="" class="site-nav__link site-nav__current">Home</a>
              </li>
              
              <li class="site-nav__item">
                <a href="" class="site-nav__link">My library</a>
              </li>
            </ul>
          </nav>
          <form  class="search-form">
            <input class="input-header" type="text" placeholder="Поиск фильмов" >
            <button class="btn-header">
               <svg class="icon__search" width="12" height="12">
              <use href="./images/sprite.svg#icon-search"></use>
            </svg>
            </button>
          </form>

          
       </div>
</header>