<header class="header__main">
  <div class="header__container">
    <div class="header-menu">
      <div class="container">
        <nav class="header__navigator">
          <a class="header__navigator--logo link">
            <svg class="header__logo" width="24" height="24">
              <use href="./images/sprite.svg#icon-film"></use>
            </svg>
            <span class="header__logo--name"> Filmoteka</span>
          </a>
          <ul class="header__site--box list">
            <li class="header__site--nav item">
              <a class="header__site--nav_link header__site-nav_current link js-homeButton">
                HOME</a
              >
            </li>

            <li class="header__site--nav item">
              <a class="header__site--nav_link link js-authButton" id="library">MY LIBRARY</a>
            </li>
          </ul>
        </nav>
        <form class="header__search-form">
          <input class="input-header" name="query" type="text" placeholder="Поиск фильмов" />
          <button class="header__btn" type="submit">
            <svg class="icon__search-header" width="12" height="12">
              <use href="./images/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
      <!-- ========== -->
      <div class="theme-switch">
      <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
        <use href="./images/objects.svg#icon-sun"></use>
      </svg>
  
      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="Переключить между тёмной и светлой темой"
        />
        <label
          aria-hidden="true"
          class="theme-switch__track"
          for="theme-switch-toggle"
        >
        </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>
  
      <svg class="theme-switch__icon" aria-label="Иконка луны">
        <use href="./images/objects.svg#icon-moonsvg"></use>
      </svg>
    </div>
  </div>
      <!-- ===== -->
    </div>
  </div>
</header>
