<div class="backdrop js-backdrop">
  <div class="footer-modal">
    <div class="container team__container">
      <button type="button" class="footer__btn-close" data-action="close-modal">
        <svg width="18" height="26" class="close">
          <use href="./images/sprite.svg#icon-close-black-18dp-2-1"></use>
        </svg>
      </button>
      <h2 class="container__title">Our team</h2>
      <ul class="card-set list">
        <li class="card-set__item card-set__item--direction">
          <div class="card-image">
            <picture>
              <!-- <source srcset="./images/team-modal/prychodko.jpg" media="(min-width: 1200px)" />
              <source srcset="./images/team-modal/prychodko.jpg" media="(min-width: 768px)" />
              <source srcset="./images/team-modal/prychodko.jpg" media="(min-width: 480px)" /> -->
              <img src="./images/team-modal/prychodko.jpg" alt="Pasha's photo" />
            </picture>
            <div class="name-card">
              <h3 class="name-card__title">Prykhodko Pasha</h3>
              <p class="name-card__text" lang="en">Team lead</p>
              <ul class="name-card__icons list">
                <li class="link">
                  <a
                    href="https://github.com/Prykhodko-Pasha/code_club-filmoteka"
                    class="name-card__icon-link"
                    target="_blank"
                  >
                    <svg width="20" height="20">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="link">
                  <a
                    class="name-card__icon-link"
                    href="https://www.linkedin.com/in/pprykhodko/"
                    target="_blank"
                  >
                    <svg width="20" height="20">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <!-- <li class="card-set__item card-set__item--direction">
          <div class="card-image">
            <picture>
              <img src="./images/team-modal/prychodko.jpg" alt="Pasha's photo" />
            </picture>
            <div class="name-card">
              <h3 class="name-card__title">Prykhodko Pasha</h3>
              <p class="name-card__text" lang="en">Team lead</p>
              <ul class="name-card__icons list">
                <li class="link">
                  <a
                    href="https://github.com/Prykhodko-Pasha/code_club-filmoteka"
                    class="name-card__icon-link"
                    target="_blank"
                  >
                    <svg width="20" height="20">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="link">
                  <a
                    class="name-card__icon-link"
                    href="https://www.linkedin.com/in/pprykhodko/"
                    target="_blank"
                  >
                    <svg width="20" height="20">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</div>

<script src="./js/team-modal.js"></script>
