<div class="backdrop js-backdrop">
  <div class="footer-modal">
    <div class="team__container">
      <button type="button" class="footer__btn-close" data-action="close-modal">
        <svg width="18" height="26" class="close">
          <use href="./images/sprite.svg#icon-close-black-18dp-2-1"></use>
        </svg>
      </button>
      <h2 class="container__title">Our team</h2>
      <div class="container">
        <div class="card-set list slider">
          <li class="card-set__item card-set__item--direction slider__item">
            <div class="card-image">
              <picture>
                <!-- <source srcset="./images/team-modal/prychodko.jpg" media="(min-width: 1200px)" />
              <source srcset="./images/team-modal/prychodko.jpg" media="(min-width: 768px)" />
              <source srcset="./images/team-modal/prychodko.jpg" media="(min-width: 480px)" /> -->
                <img src="./images/team-modal/prychodko.jpg" alt="Pasha's photo" />
              </picture>
              <div class="name-card">
                <h3 class="name-card__title">Prykhodko Pasha</h3>
                <p class="name-card__text" lang="en">Team lead</p>
                <ul class="name-card__icons list">
                  <li class="link">
                    <a
                      href="https://github.com/Prykhodko-Pasha"
                      class="name-card__icon-link"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-github"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="link">
                    <a
                      class="name-card__icon-link"
                      href="https://www.linkedin.com/in/pprykhodko/"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="card-set__item card-set__item--direction slider__item">
            <div class="card-image">
              <picture>
                <img
                  src="./images/team-modal/sereda.jpg"
                  alt="Julia's photo"
                  width="450px"
                  height="450px"
                />
              </picture>
              <div class="name-card">
                <h3 class="name-card__title">Julia Sereda</h3>
                <p class="name-card__text" lang="en">Scrum master</p>
                <ul class="name-card__icons list">
                  <li class="link">
                    <a
                      href="https://github.com/Vladomira"
                      class="name-card__icon-link"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-github"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="link">
                    <a
                      class="name-card__icon-link"
                      href="https://www.linkedin.com/in/julia-vladomira/"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="card-set__item card-set__item--direction slider__item">
            <div class="card-image">
              <picture>
                <img src="./images/team-modal/melnyk.jpg" alt="Dmytro's photo" width="450px" />
              </picture>
              <div class="name-card">
                <h3 class="name-card__title">Dmytro Melnyk</h3>
                <p class="name-card__text" lang="en">Developer</p>
                <ul class="name-card__icons list">
                  <li class="link">
                    <a
                      href="https://github.com/Troofy"
                      class="name-card__icon-link"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-github"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="link">
                    <a
                      class="name-card__icon-link"
                      href="https://www.linkedin.com/in/dmytro-melnyk-6872b1197/"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="card-set__item card-set__item--direction slider__item">
            <div class="card-image">
              <picture>
                <img src="./images/team-modal/vova-sova.jpg" alt="Vova's photo" width="450px" />
              </picture>
              <div class="name-card">
                <h3 class="name-card__title">Volodymyr Sova</h3>
                <p class="name-card__text" lang="en">Developer</p>
                <ul class="name-card__icons list">
                  <li class="link">
                    <a href="https://github.com/SovaV" class="name-card__icon-link" target="_blank">
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-github"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="link">
                    <a
                      class="name-card__icon-link"
                      href="https://www.linkedin.com/in/volodymyr-sova-5a57b1209/"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="card-set__item card-set__item--direction slider__item">
            <div class="card-image">
              <picture>
                <img src="./images/team-modal/shemet.jpg" alt="Lilya's photo" width="450px" />
              </picture>
              <div class="name-card">
                <h3 class="name-card__title">Liliya Shemet</h3>
                <p class="name-card__text" lang="en">Developer</p>
                <ul class="name-card__icons list">
                  <li class="link">
                    <a
                      href="https://github.com/LiliiaShemet"
                      class="name-card__icon-link"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-github"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="link">
                    <a
                      class="name-card__icon-link"
                      href="https://www.linkedin.com/in/%D0%BB%D0%B8%D0%BB%D0%B8%D1%8F-%D1%88%D0%B5%D0%BC%D0%B5%D1%82-843085220/"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="card-set__item card-set__item--direction slider__item">
            <div class="card-image">
              <picture>
                <img
                  src="./images/team-modal/tetiana-romanenko.jpg"
                  alt="Tetiana's photo"
                  width="450px"
                />
              </picture>
              <div class="name-card">
                <h3 class="name-card__title">Tetiana Romanenko</h3>
                <p class="name-card__text" lang="en">Developer</p>
                <ul class="name-card__icons list">
                  <li class="link">
                    <a href="" class="name-card__icon-link" target="_blank">
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-github"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="link">
                    <a class="name-card__icon-link" href="" target="_blank">
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="card-set__item card-set__item--direction slider__item">
            <div class="card-image">
              <picture>
                <img src="./images/team-modal/dima-fursov.jpg" alt="Dima's photo" width="450px" />
              </picture>
              <div class="name-card">
                <h3 class="name-card__title">Dmitriy Fursov</h3>
                <p class="name-card__text" lang="en">Developer</p>
                <ul class="name-card__icons list">
                  <li class="link">
                    <a
                      href="https://github.com/dimafursov86"
                      class="name-card__icon-link"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-github"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="link">
                    <a class="name-card__icon-link" href="" target="_blank">
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="card-set__item card-set__item--direction slider__item">
            <div class="card-image">
              <picture>
                <img src="./images/team-modal/Ell-Ell.jpg" alt="Ell-Ell's photo" width="450px" />
              </picture>
              <div class="name-card">
                <h3 class="name-card__title">Ell-Ell</h3>
                <p class="name-card__text" lang="en">Developer</p>
                <ul class="name-card__icons list">
                  <li class="link">
                    <a
                      href="https://github.com/Ell-Ell"
                      class="name-card__icon-link"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-github"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="link">
                    <a class="name-card__icon-link" href="" target="_blank">
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="card-set__item card-set__item--direction slider__item">
            <div class="card-image">
              <picture>
                <img
                  src="./images/team-modal/levkovska.jpg"
                  alt="Valentyna's photo"
                  width="450px"
                />
              </picture>
              <div class="name-card">
                <h3 class="name-card__title">Valentyna Levkovska</h3>
                <p class="name-card__text" lang="en">Developer</p>
                <ul class="name-card__icons list">
                  <li class="link">
                    <a
                      href="https://github.com/vlevkovska"
                      class="name-card__icon-link"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-github"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="link">
                    <a
                      class="name-card__icon-link"
                      href="https://www.linkedin.com/in/valentyna-levkovska-846535220/"
                      target="_blank"
                    >
                      <svg width="20" height="20">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./js/team-modal.js"></script>

<!-- Подключаем jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Подключаем слайдер Slick -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<!-- Подключаем файл скрипта слайдера -->
<script src="./js/slider.js"></script>
