.flowing__scroll-up {
  position: fixed;
  bottom: 210px;
  cursor: pointer;
  fill: var(--secondary-text-color);
}
.icon__arrow-up,
  .icon__arrow-down {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.flowing__scroll-down {
  position: fixed;
  bottom: 165px;
  cursor: pointer;
  fill: var(--secondary-text-color);
}
.hidden__scroll {
  opacity: 0;
  visibility: hidden;
}
.icon__arrow-up:hover,
.icon__arrow-up:focus,
.icon__arrow-down:hover,
.icon__arrow-down:focus {
  fill: var(--buttons-color);
}
@media screen and (max-width: 768px) {
  .flowing__scroll-up,
  .flowing__scroll-down {
    right: 15px;
    fill: var(--buttons-color);

  }
  .icon__arrow-up,
  .icon__arrow-down {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .flowing__scroll-up,
  .flowing__scroll-down {
    right: calc((100vw - 750px) / 2);
    &.flowing__scroll-down {
      bottom: 155px;
    }
  }

  .icon__arrow-up,
  .icon__arrow-down {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .flowing__scroll-up,
  .flowing__scroll-down {
    right: calc((100vw - 1040px) / 2);
    &.flowing__scroll-down {
      bottom: 140px;
    }
  }

  .icon__arrow-up,
  .icon__arrow-down {
    width: 55px;
    height: 55px;
  }
}