.flowing__scroll-up {
   position: fixed;
   bottom:  100px;
   right: 360px;
   z-index: 10;
   cursor: pointer;
   stroke: #818181;
}
.hidden__scroll {
opacity: 0;
visibility: hidden;
}
.icon__arrow-up {
   width: 70px;
   height: 70px;
}


.flowing__scroll-down {
   position: fixed;
   bottom:  50px;
   right: 360px;
   z-index: 10;
   cursor: pointer;
   stroke: #818181;
}
.icon__arrow-down {
      width: 70px;
   height: 70px;
}