
// universal styles
.film-gallery{
    display: flex;
    align-items: center;

    &__item{
        width: 100%;
        border-radius: 5px;
    }
    &__tech{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img{
        border-radius: 5px;
    }
    &__desc{
        margin-top: 10px;
    }
    &__name{
        color: var(--heading-color);
        text-transform: uppercase;         
    }
    
    &__genre,
    &__year{
        color: var(--extract-orange-color);
    }
    
    &__year{       
        font-size: 12px;
        line-height: 1.3;
    }
}

@media screen and (max-width: 767px){
    .film-gallery{
        flex-direction: column;
        
        &__item:not(:last-child){
                margin-bottom: 20px;
        }        
        
        &__genre{
            font-size: 12px;
            line-height: 1.17;
        }     
        &__img{
            width: 280px;
        }
    }
}

// таблетка+ десктоп
@media screen and (min-width: 768px){
    .film-gallery{        
        flex-wrap: wrap;
        padding-top: 29px;
        padding-bottom: 40px;
        margin-top: -31px;
        margin-left: -30px;  
    
        &__item{
            margin-top: 31px;
            margin-left: 30px;
        }
    }
}

@media screen and (min-width: 768px){
    .film-gallery{           

        &__item{
            flex-basis: calc(100% / 2 - 30px);
        }
        &__genre{
            font-size: 12px;
            line-height: 1.17;
        }
        &__img{
            width: 294px;
        }
    }
}

@media screen and (min-width: 1024px){
    .film-gallery{
    
        &__item{
            flex-basis: calc(100% / 3 - 30px)
        }
        &__genre{
            font-size: 12px;
            line-height: 1.3;
        }
        &__img{
            width: 274px;
        }
    }
}

