// universal styles
.film-gallery {
  display: flex;

  &__item {
    width: 100%;
    border-radius: 5px;
    position: relative;
  }
  &__tech {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    border-radius: 5px;
  }
  &__desc {
    margin-top: 10px;
  }
  &__name {
    color: var(--heading-color);
    text-transform: uppercase;
    font-weight: var(--prevailing-weight-font);
  }
&__info{
        display: flex;
        align-items: baseline;
        margin-top: 3px;
    }
    &__genre,
    &__year{
        color: var(--extract-orange-color);
    }
    &__genre{
        margin-right: 3px;
    }
    &__genre +&__genre::before {
        content:', ';
        margin-left: -0.2em;
    }        
   
    &__year{       
        font-size: 12px;
        line-height: 1.3;
  }
  &__vote {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    width: 36px;
    height: 16px;
    border-radius: 5px;
    background-color: var(--buttons-color);
    color: #fff;
    font-size: 12px;
    line-height: 14px;
  }

  &__buttons {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: end;
    right: 0;
  }
  &__button {
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.5);

    & i {
      font-size: 30px;
      color: rgba(255, 255, 255, 0.5);
    }

    &:hover,
    &:focus {
      background-color: var(--buttons-color);
      border-color: var(--buttons-color);
      color: #fff;
      box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
        inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
        inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    }

    &:hover i,
    &:focus i {
      //   background-color: var(--buttons-color);
      //   border-color: var(--buttons-color);
      color: #fff;
    }
  }
}

@media screen and (max-width: 767px) {
  .film-gallery {
    flex-direction: column;
    padding-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;

    &__item:not(:last-child) {
      margin-bottom: 20px;

    }
    &__img {
      min-width: 280px;
    }
    &__genre {
      font-size: 12px;
      line-height: 1.17;
    }
    &__name {
      font-size: 12px;
      line-height: 1.17; //14px;
    }
  }
}

// таблетка+ десктоп
@media screen and (min-width: 768px) {
  .film-gallery {
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 50px;

    margin-top: -30px;
    margin-left: -30px;

    &__item {
      margin-top: 30px;
      margin-left: 30px;
    }
    &__name {
      font-size: 12px;
      line-height: 1.3; //16px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .film-gallery {
    padding-top: 60px;

    &__item {
      flex-basis: calc(100% / 2 - 30px);
    }
    &__genre {
      font-size: 12px;
      line-height: 1.17;
    }
    &__img {
      min-width: 293px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .film-gallery {
    &__item {
      flex-basis: calc(100% / 3 - 30px);
    }
    &__genre {
      font-size: 12px;
      line-height: 1.3;
    }
    &__img {
      min-width: 274px;
    }
  }
}
