.show-movie-modal .movie-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
// body.show-modal  {
//   transform: scale(1);
// }

.movie-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200 ms ease-in-out;

  @media (min-width: 768px) {
    padding-top: 2px;
  }
}


.modal {
  left: 0;
  top: 0;
  width: 2px;
  height: 500px;
  padding: 24px;
  border-radius: 4px;
  max-width: 640px; //1200px
  max-height: 100%;
  // overflow: scroll;
  width: 100%;
  min-height: 320px;
  background-color: var(--main-color-bg);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transition: scale(1.1);
  transition: transform 200ms ease-in-out;

  @media (min-width: 1200px) {
    max-width: 1100;
  }
};

.modal__body {
  // z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
};

.modal__close {
  float: right;
};

.modal__header {
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
};

.modal-list__stat {
font-weight: 500;
font-size: 12px;
line-height: 1.33;
color: #8C8C8C;
};

.modal-list__value {
  font-weight: 500;
font-size: 12px;
line-height: 14px;
  color: #000000;
};

.rating {
color: white;
background: #FF6B01;
border-radius: 5px;
};

.film-title {
  text-transform: uppercase;
};

.description {
font-weight: 500;
font-size: 12px;
line-height: 1.67;
color: #000000;
};

.modal__content {
  padding-left: 20px;
}